.our-promise-container {
    margin-top: -2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.our-promise-inner h3{
    font-size: 1.2rem;
}

.our-promise-container .our-promise-inner {
    flex: 1 1 25rem;
    border: .2rem dashed purple;
    padding: 1rem;
    border-radius: .5rem;
    height: 18rem;
}

.right-button .btnDelete{
    margin-top: 1rem;
}

.our-promise-inner p {
    max-width: 65rem;
    line-height: 1.4;
    padding-bottom: 1rem !important;
}

.date-container {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}

.left-date {
    margin-top: -1.5rem;
}

.left-dat {
    color: #fff !important;
    background: hsl(300, 61%, 47%) !important;
    padding: .6rem 2rem;
    border-radius: 3rem;
}

.none {
    background: none;
}

.right-date {
    margin-top: -1.5rem;
}

.Our-Promise-Banner {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center !important;
    justify-content: center;
    background: linear-gradient(90deg, hsl(300, 92%, 38%), hsl(39, 100%, 55%));
    height: 25rem;
}

.clock{
    margin-bottom: -8rem;
}

.Our-Promise-Banner h2{
    margin-top: 10rem;
    color: #fff;
    font-size: 2.8rem;
}

.arrow-left{
    margin-top: 2rem;
}

.right-button .btnDelete{
    background: red;
}

.our-services-container {
    display: flex !important;
    gap: 1rem !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    margin-top: 5rem !important;
}

.our-services-container .our-services-box {
    flex: 1 1 30rem !important;
    border: .1rem solid hsl(0, 6%, 80%) !important;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .2) !important;
    padding: 2rem !important;
    height: 50rem !important;
    margin-bottom: 3rem !important;
    overflow: hidden !important;
}

.our-services-container .our-services-box p {
    line-height: 1.6 !important;
    max-width: 70rem !important;
}

.our-services-container .our-services-box img {

    width: 30rem !important;
    height: 50% !important;
    object-fit: contain !important;
    border-radius: 3rem !important;
    margin: 5rem auto !important;
    text-align: center !important;

}

.img-containers{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


.btn-container {
    margin-top: -8rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: -4rem !important;
    gap: 1rem !important;
}

.btn_edit {
    color: #fff !important;
    background: hsl(39, 95%, 45%) !important;
    padding: .8rem 2rem !important;
    border-radius: 3rem !important;
    text-decoration: none !important;
}

.btn_delete {
    color: #fff !important;
    background: hsl(0, 97%, 47%) !important;
    padding: .8rem 2rem !important;
    border-radius: 3rem !important;
    text-decoration: none !important;
}

/*

Unique & Seasonal Offerings 
At Taste Hub, we're always innovating with new flavors and seasonal ingredients. Our menu changes with the seasons to bring you fresh, exciting options throughout the year, so there's always something new to discover and enjoy.
/*